.btn {
	$this: &;

	@extend %proxima-semibold;
	@extend %text-16;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent);
	border: 0.2rem solid var(--accent);
	color: var(--white);
	text-align: left;
	text-transform: uppercase;
	transition: $transition all;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--white);
			color: var(--accent);

			#{$this} {
				&__text {
					color: var(--accent);
				}
			}
		}
	}

	&.disabled,
	&[disabled] {
		border: none;
		cursor: not-allowed;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}

	&__text {
		color: var(--white);
		transition: $transition color;
	}

	&__icon {
		margin-right: 1rem;
		flex-shrink: 0;
		width: 2.4rem;
		height: 2.4rem;
		transition: $transition fill;
	}

	&--style {
		&_link {
			justify-content: flex-start;
		}

		&_border,
		&_border-dark,
		&_link {
			background-color: transparent;
			text-transform: none;
		}

		&_link {
			color: var(--black);
			border: none;
			border-bottom: 0.1rem solid var(--black);

			#{$this}__text {
				color: var(--black);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;

					#{$this} {
						&__text {
							color: var(--accent);
						}
					}
				}
			}
		}

		&_border {
			color: var(--accent);

			#{$this} {
				&__icon {
					fill: var(--accent);
				}

				&__text {
					color: var(--accent);
				}
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--accent);
					color: var(--white);

					#{$this} {
						&__icon {
							fill: var(--white);
						}

						&__text {
							color: var(--white);
						}
					}
				}
			}
		}

		&_border-dark {
			color: var(--black);
			border-color: var(--black);

			#{$this} {
				&__icon {
					fill: var(--black);
				}

				&__text {
					color: var(--black);
				}
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--black);
					color: var(--white);

					#{$this} {
						&__icon {
							fill: var(--white);
						}

						&__text {
							color: var(--white);
						}
					}
				}
			}
		}

		&_round {
			padding: var(--gap-xxs);
			border-color: var(--black);
			background-color: var(--black);
			border-radius: 50%;
			font-family: 'Proxima Nova Lt', sans-serif;
			font-weight: 300;
			font-size: 2.2rem;
			line-height: calc(27 / 22 * 100%);
			letter-spacing: 0.1em;
			text-transform: none;
			text-align: center;

			@media(max-width: $sm) {
				padding: 2.5rem;
				font-size: 1.6rem;
				line-height: calc(19 / 16 * 100%);
			}

			@media (any-hover: hover) {
				&:hover {
					border-color: var(--accent);
					background-color: var(--accent);
					color: var(--white);

					#{$this}__text {
						color: var(--white);
					}
				}
			}
		}
	}
}
