$name: '.interior-design';

#{$name} {
	position: relative;
	@include row-grid(var(--gap-s));
	grid-template-columns: var(--gap) 1fr var(--gap);
	background-color: var(--black);
	color: var(--white);

	@media(max-width: $lg) {
		grid-template-columns: var(--mobile-padding) 1fr var(--mobile-padding);
		row-gap: 3.2rem;
	}

	&__text {
		max-width: 97.4rem;
	}

	// .interior-design__top

	&__top {
		grid-column: 2 / 3;
	}

	&__arrow {
		display: none;

		@media(min-width: $xl) {
			display: block;
			position: absolute;
			left: calc(var(--gap) - 1.6rem / 2);
			bottom: var(--gap-xs);
			width: 1.6rem;
			height: 12.1rem;
		}
	}
}
