// Typography
%text-14 {
	font-size: 1.4rem;
	line-height: calc(24 / 14 * 100%);
}

%text-16 {
	font-size: 1.6rem;
	line-height: calc(24 / 16 * 100%);
}

%text-18 {
	font-size: 1.8rem;
	line-height: calc(56 / 18 * 100%);
}

%text-20 {
	font-size: 2rem;
	line-height: calc(32 / 20 * 100%);
}

%text-24 {
	font-size: 2.4rem;
	line-height: 2.9rem;
}

%text-28 {
	font-size: 2.8rem;
	line-height: calc(50 / 28 * 100%);
}

%text-32 {
	font-size: 3.2rem;
	line-height: calc(50 / 32 * 100%);

	@media(max-width: $lg) {
		font-size: 2.4rem;
	}

	@media(max-width: $sm) {
		font-size: 1.6rem;
		line-height: calc(24 / 16 * 100%);
	}
}

%text-54 {
	font-size: 5.4rem;
	line-height: calc(50 / 54 * 100%);
}

%text-100 {
	font-size: 10rem;
	line-height: 88%;
}

%proxima-light {
	font-family: 'Proxima Nova Lt', sans-serif;
	font-weight: 300;
}

%proxima-semibold {
	font-family: 'Proxima Nova Lt', sans-serif;
	font-weight: 600;
}

%proxima-bold {
	font-family: 'Proxima Nova Rg', sans-serif;
	font-weight: 700;
}

%ashley {
	font-family: 'AshleyCapitaliSofia';
	font-weight: 400;
}
