.input {
	width: 100%;
	padding: 1.6rem var(--gap-xxs);
	border-bottom: 0.2rem solid var(--accent);

	@media(max-width: $sm) {
		padding: 0 0 0.8rem;
		border-bottom-width: 0.082rem;
	}

	&::placeholder {
		color: var(--color-888);
	}
}

.textarea {
	min-height: 12rem;
	border-top: none;
	border-right: none;
	border-left: 0.2rem solid var(--accent);

	@media(max-width: $sm) {
		border-left-width: 0.082rem;
		padding-left: 1.2rem;
	}

	& ~ .placeholder {
		left: 1.6rem;

		@media(max-width: $sm) {
			left: 1.2rem;
		}
	}
}
