$name: '.tariff-card';

#{$name} {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: var(--gap-xs);
	padding: var(--gap-xxs) var(--gap-xs);
	background-color: var(--white);
	box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);

	@media(max-width: $lg) {
		padding: 2.4rem 1.6rem 3rem;
	}

	@media(min-width: $xl) {
		min-height: 89.9rem;
	}

	// .tariff-card__title

	&__title {
		@extend %proxima-semibold;
		@extend %text-28;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		border-bottom: 0.1rem solid var(--accent);
		color: var(--accent);
		align-self: flex-start;

		@media(max-width: $lg) {
			font-size: 2.4rem;
		}

		@media(max-width: $sm) {
			font-size: 1.8rem;
			line-height: calc(24 / 18 * 100%);
		}
	}

	// .tariff-card__list

	&__list {
		@include row-grid(var(--gap-xs));
		padding-left: 1.2rem;

		@media(min-width: $xl) {
			flex-grow: 1;
		}

		@media(max-width: $lg) {
			row-gap: 2.4rem;
		}

		li {
			@extend %text-20;
			position: relative;
			padding-left: 1.2rem;
			color: #222;

			@media(max-width: $sm) {
				font-size: 1.6rem;
				line-height: calc(24 / 16 * 100%);
			}

			&::before {
				content: '';
				position: absolute;
				top: 1rem;
				left: 0;
				@include round(0.4rem);
				background-color: #222;
			}
		}
	}

	// .tariff-card__price

	&__price {
		display: flex;
		align-items: flex-end;
		gap: 1rem;
		white-space: nowrap;

		@media(max-width: $lg) {
			gap: 1.6rem;
		}

		span {
			@extend %ashley;
			@extend %text-100;
			color: var(--accent);
			text-align: center;

			@media(max-width: $sm) {
				font-size: 7.2rem;
			}
		}

		sub {
			@extend %text-20;

			@media(max-width: $sm) {
				font-size: 1.4rem;
				line-height: calc(18 / 14 * 100%);
			}
		}
	}

	// .tariff-card__btns

	&__btns {
		@include row-grid(var(--gap-xxs));
		grid-auto-rows: 5.6rem;

		@media(max-width: $sm) {
			row-gap: 2.4rem;
			grid-auto-rows: 4.4rem;
		}
	}

	&__btn {
		--btn-text-transform: uppercase;
	}
}
