.player {
	@include round(28.6rem);
	background-color: var(--accent);
	display: flex;
	align-items: center;
	justify-content: center;

	@media(max-width: $lg) {
		width: 12rem;
		height: 12rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: -4.3rem;
		right: -4.3rem;
		bottom: -4.3rem;
		left: -4.3rem;
		border-radius: 50%;
		border: 0.2rem solid rgba(51, 51, 51, 0.8);
		transition: $transition opacity;

		@media(max-width: $lg) {
			top: -1.5rem;
			right: -1.5rem;
			bottom: -1.5rem;
			left: -1.5rem;
			border-width: 0.08rem;
		}
	}

	svg {
		width: 5.4rem;
		height: 7rem;
		stroke: var(--white);
		stroke-opacity: 0.5;
		transition: $transition stroke-opacity;

		@media(max-width: $lg) {
			width: 3.2rem;
			height: 3.2rem;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			&::before {
				opacity: 0;
			}

			svg {
				stroke-opacity: 1;
			}
		}
	}
}

.video {
	position: relative;

	&__player {
		@extend %pos-center-xy;
	}

	@media(max-width: $lg) {
		@include margin-x(calc(var(--mobile-padding) * (-1)));
	}
}

.videos {
	position: relative;

	&__text {
		max-width: 84rem;
	}

	&__arrow {
		position: absolute;
		bottom: var(--gap-xs);
		right: 37rem;
		width: 1.6rem;
		height: 21.5rem;

		@media(max-width: $lg) {
			right: var(--mobile-padding);
			height: 6.5rem;
		}
	}
}
