.title {
	&-60 {
		@include row-grid(var(--gap-xxxs));
		@extend %proxima-light;
		font-size: 6rem;
		line-height: 133%;
		letter-spacing: 0.02em;
		text-transform: uppercase;

		@media(max-width: $lg) {
			font-size: 2.4rem;
			line-height: 117%;
		}

		@media(max-width: $sm) {
			row-gap: 0.8rem;
		}
	}

	&-80 {
		@extend %proxima-light;
		font-size: 8rem;
		line-height: getLineHeightInPercents(97, 80);
		letter-spacing: 0.02em;
		text-transform: uppercase;

		@media(max-width: $lg) {
			font-size: 3.2rem;
			line-height: 119%;
		}
	}

	&-60,
	&-80 {

		b,
		span,
		strong {
			font-family: 'Proxima Nova Rg',
				sans-serif;
			font-weight: 400;
		}
	}
}

p.title-60,
p.title-90,
h2.title-60,
h2.title-80 {
	display: block;
}

span.title-60 {
	display: inline-block;

	@media(max-width: $lg) {
		display: inline;
	}
}