$name: '.promo';

#{$name} {
	position: relative;
	display: grid;

	@media(min-width: $xl) {
		min-height: calc(100vh - var(--header-height));
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 4.3rem;
		background-color: var(--white);

		@media(max-width: $lg) {
			height: 6.7rem;
		}
	}

	// .promo__bg

	&__bg,
	&__content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	// .promo__content

	&__content {
		display: grid;
		grid-template-columns: var(--gap) auto 1fr auto var(--gap);
		grid-template-rows: var(--gap-xs) auto 1fr auto 1fr auto;
		grid-template-areas:
			'. . . . .'
			'. . . play .'
			'. . . . .'
			'. title title title .'
			'. . . . .'
			'. arrow . btn .'
		;
		color: var(--white);

		@media(max-width: $lg) {
			grid-template-columns: var(--mobile-padding) 1fr var(--mobile-padding);
			grid-template-rows: var(--gap-xxxs) auto 10.9rem auto 11.8rem auto;
			grid-template-areas:
				'. . .'
				'. play .'
				'. . .'
				'. title .'
				'. . .'
				'. btn .'
			;
		}
	}

	// .promo__play

	&__play {
		--btn-min-width: 4.9rem;
		--btn-min-height: 4.9rem;
		--btn-icon-size: 3.2rem;

		grid-area: play;
		justify-self: end;

		@media(max-width: $sm) {
			--btn-min-width: 3.2rem;
			--btn-min-height: 3.2rem;
			--btn-icon-size: 1.6rem;
		}
	}

	// .promo__title

	&__title {
		@include row-grid(var(--gap-xxxs));
		grid-area: title;

		@media(max-width: $lg) {
			row-gap: 0;
		}

		span {
			@media(max-width: $lg) {
				display: block;
			}
		}
	}

	// .promo__arrow

	&__arrow {
		display: none;

		@media(min-width: $xl) {
			display: block;
			grid-area: arrow;
			align-self: center;
			width: 1.6rem;
			height: 12.1rem;
			fill: var(--white);
			animation: scroll-down;
			animation-duration: 2s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
		}
	}

	// .promo__btn

	&__btn {
		--btn-padding: var(--gap-xxs);
		--btn-min-width: 28.6rem;
		--btn-min-height: 28.6rem;
		--btn-font-size: 2.2rem;
		--btn-line-height: round(calc(27 / 22 * 100%));
		--btn-text-transform: none;
		--btn-letter-spacing: 0.1em;
		
		position: relative;
		z-index: 2;
		grid-area: btn;

		@media(max-width: $lg) {
			z-index: 2;
			justify-self: center;
		}

		@media(max-width: $sm) {
			--btn-min-width: 21rem;
			--btn-min-height: 21rem;
			--btn-padding: 2rem;
			--btn-font-size: 1.6rem;
			--btn-line-height: round(calc(19 / 16 * 100%));
		}

		&::before {
			content: '';
			position: absolute;
			inset: -4.3rem;
			border: $border;
			border-radius: 50%;

			@media(max-width: $sm) {
				inset: -2.7rem;
			}
		}
	}
}
